---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import clsx from 'clsx';
import sAgo from 's-ago';

interface Props {
  allPosts: CollectionEntry<'posts'>[];
}

const { allPosts } = Astro.props;
---

<div class="grid space-y-5 divide-y-2 divide-gray-400 dark:divide-gray-500">
  {
    allPosts.length > 0 ? (
      allPosts.map(({ data, slug }) => {
        return (
          <div class="flex w-full flex-col justify-between py-4 md:flex-row md:space-x-5">
            <div
              class={clsx(
                data.heroImage && 'mb-3 md:mb-0 md:max-w-[400px]',
                'flex max-h-fit flex-col justify-between break-words',
              )}
            >
              <div>
                <a
                  class="cursor-pointer text-2xl font-semibold hover:underline"
                  href={`/posts/${slug}`}
                >
                  {data.title}
                </a>
                {data.tags && (
                  <div class="my-2 flex flex-row flex-wrap gap-2">
                    {data.tags.map(tag => (
                      <a
                        href={`/posts/tags/${tag}`}
                        class="base-border rounded-lg border bg-gray-100 px-2 py-1 text-xs font-medium text-gray-600 dark:bg-gray-800 dark:text-gray-400"
                      >
                        #{tag}
                      </a>
                    ))}
                  </div>
                )}
                <p class="text-gray-600 dark:text-gray-300">{data.description}</p>
              </div>
              <p class="mt-3 text-gray-500 dark:text-gray-400">{sAgo(new Date(data.published))}</p>
            </div>
            {data.heroImage && (
              <Image
                alt="Thumbnail"
                class="w-full rounded-lg md:mt-0 md:w-auto md:rounded"
                src={data.heroImage}
                width={1600 * 0.2}
                height={900 * 0.2}
              />
            )}
          </div>
        );
      })
    ) : (
      <div class="flex flex-col items-center">
        <p class="p-5">Nothing can be found!</p>
      </div>
    )
  }
</div>
