---
import MainSEO from '@components/SEO/Main.astro';
import { Icon } from 'astro-icon/components';

import PageTitle from '@/components/PageTitle.astro';
import config from '@/config';
import MainLayout from '@/layouts/main.astro';

const socialMedia = [
  {
    name: 'Discord',
    icon: 'tabler:brand-discord',
    link: config.social.discordServer,
  },
  {
    name: 'Github',
    icon: 'tabler:brand-github',
    link: config.social.github,
  },
  {
    name: 'Instagram',
    icon: 'tabler:brand-instagram',
    link: config.social.instagram,
  },
  {
    name: 'Twitter',
    icon: 'tabler:brand-twitter',
    link: config.social.twitter,
  },
];

// Meta data
const meta = {
  title: 'About Me',
  description:
    "Hey there! I'm cktsun, here's the information about me and messages which is going to tell you! This is the place where you can find out more about me.",
};

export const prerender = true;
---

<MainSEO includeSiteTitle title={meta.title} description={meta.description} />
<MainLayout>
  <div class="mt-5 flex flex-col items-center">
    <PageTitle
      title="About Me"
      description="ðŸ‘‹ Hey there! I'm cktsun ðŸ˜, here's the information about me and messages which is going to tell you! This is the place where you can find out more about me."
    />
    <main class="mb-10 mt-3 w-full space-y-6 text-left" data-pagefind-body>
      <p>I am a High School Student from Hong Kong, currently F6, 17 yrs.</p>
      <p>
        I love reading, writing, and coding. I enjoy investigating philosophical questions and the
        intersection between technology and ethics
      </p>
      <p>
        I am passionate about exploring ideas and discussing them with others, and I enjoy sharing
        my thoughts and knowledge with people online.
      </p>
      <p>
        Additionally, I find programming to be a fascinating way to create and problem-solve, and I
        love the feeling of accomplishment that comes from building something new and useful with
        code.
      </p>
      <div class="flex flex-row flex-wrap gap-2 text-gray-800 dark:text-gray-300">
        {
          socialMedia.map(item => (
            <a
              href={item.link}
              class="base-border flex flex-row items-center gap-2 rounded-lg border bg-gray-100 p-2 dark:bg-gray-900"
              target="_blank"
              rel="noreferrer"
            >
              <Icon name={item.icon} size={23} />
              <p class="text-xl">{item.name}</p>
            </a>
          ))
        }
      </div>
    </main>
  </div>
</MainLayout>
