---
import MainSEO from '@components/SEO/Main.astro';

import PageTitle from '@/components/PageTitle.astro';
import config from '@/config';
import MainLayout from '@/layouts/main.astro';
import { Icon } from 'astro-icon/components';

const socialMedia = [
	{
		name: 'Github',
		icon: 'hugeicons:github',
		link: config.social.github,
	},
	{
		name: 'Instagram',
		icon: 'hugeicons:instagram',
		link: config.social.instagram,
	},
	{
		name: 'Twitter',
		icon: 'hugeicons:new-twitter',
		link: config.social.twitter,
	},
];

// Meta data
const meta = {
	title: 'About Me',
	description:
		"Hey there! I'm cktsun, here's the information about me and messages which is going to tell you! This is the place where you can find out more about me.",
};
---

<meta charset="utf-8" />
<MainSEO includeSiteTitle title={meta.title} description={meta.description} />
<MainLayout>
  <PageTitle
    title="About Myself"
    description="ðŸ‘‹ What's up! I'm CHAN (You might call me Kelvin) ðŸ˜, here's the information about me and messages which is going to tell you! This is the place where you can find out more about me."
  />
  <div class="mb-10 mt-3 w-full space-y-6 text-left" data-pagefind-body>
    <p>
      An undergraduate student of SENG in HKUST, studying Electronics
      Engineering (ELEC), currently year 1.
    </p>
    <p>
      Interested in computer, in both hardware and software, I also want to
      learn more about machine learning as well, I think AI is the most
      important thing in coming decades.
    </p>
    <p>
      Also like to discuss and think about social and political issues, which
      these parts are the most direct way to reflect how good and how smart is
      this person.
    </p>
    <div
      class="flex flex-row flex-wrap gap-2 text-neutral-800 dark:text-neutral-300"
    >
      {
        socialMedia.map((item) => (
          <a
            href={item.link}
            class="flex flex-row items-center gap-2 rounded-lg bg-neutral-200 p-2 dark:bg-neutral-800"
            target="_blank"
            rel="noreferrer"
          >
            <Icon name={item.icon} size={23} />
            <p class="text-xl">{item.name}</p>
          </a>
        ))
      }
    </div>
  </div>
</MainLayout>
