---
import MainSEO from '@components/SEO/Main.astro';
import { Icon } from 'astro-icon/components';

import PageTitle from '@/components/PageTitle.astro';
import config from '@/config';
import MainLayout from '@/layouts/main.astro';

const socialMedia = [
	{
		name: 'Github',
		icon: 'tabler:brand-github',
		link: config.social.github,
	},
	{
		name: 'Instagram',
		icon: 'tabler:brand-instagram',
		link: config.social.instagram,
	},
	{
		name: 'Twitter',
		icon: 'tabler:brand-twitter',
		link: config.social.twitter,
	},
];

// Meta data
const meta = {
	title: 'About Me',
	description:
		"Hey there! I'm cktsun, here's the information about me and messages which is going to tell you! This is the place where you can find out more about me.",
};

const birthday = new Date('2006-10-31');

// Calculate age
const ageDiffMs = Date.now() - birthday.getTime();

// Convert age from milliseconds to years
const ageDate = new Date(ageDiffMs);

const age = Math.abs(ageDate.getUTCFullYear() - 1970);
---

<meta charset="utf-8" />
<MainSEO includeSiteTitle title={meta.title} description={meta.description} />
<MainLayout>
  <div class="mt-5 flex flex-col items-center">
    <PageTitle
      title="About Myself"
      description="ðŸ‘‹ Hey there! I'm CHAN, Ka Tsun (You might call me Kelvin or ckt1031) ðŸ˜, here's the information about me and messages which is going to tell you! This is the place where you can find out more about me."
    />
    <main class="mb-10 mt-3 w-full space-y-6 text-left" data-pagefind-body>
      <p>An undergraduate student of SENG in The Hong Kong University of Science and Technology, currently year 1, {age} yrs.</p>
      <p>
        Studying Engineering, and I am interested in software development, web development, and machine learning.
      </p>
      <p>
        love reading, writing, and coding. I enjoy investigating philosophical questions and the
        intersection between technology and ethics
      </p>
      <p>
        Passionated about exploring ideas and discussing them with others, and I enjoy sharing
        my thoughts and knowledge with people online.
      </p>
      <p>
        Additionally, I find programming to be a fascinating way to create and problem-solve, and I
        love the feeling of accomplishment that comes from building something new and useful with
        code.
      </p>
      <div class="flex flex-row flex-wrap gap-2 text-gray-800 dark:text-gray-300">
        {
          socialMedia.map(item => (
            <a
              href={item.link}
              class="flex flex-row items-center gap-2 rounded-lg bg-gray-200 p-2 dark:bg-gray-800"
              target="_blank"
              rel="noreferrer"
            >
              <Icon name={item.icon} size={23} />
              <p class="text-xl">{item.name}</p>
            </a>
          ))
        }
      </div>
    </main>
  </div>
</MainLayout>
