---
import MainSEO from '@components/SEO/Main.astro';
import { Icon } from 'astro-icon/components';
import { z } from 'zod';

import PageTitle from '@/components/PageTitle.astro';
import config from '@/config';
import MainLayout from '@/layouts/main.astro';

export const prerender = true;

const GithubRepositoryDataSchema = z.object({
  name: z.string(),
  language: z.string(),
  description: z.string(),
  pushed_at: z.coerce.date(),
});

const getIconByLanguage = (language: string) => {
  switch (language) {
    case 'TypeScript': {
      return 'tabler:brand-javascript';
    }
    case 'JavaScript': {
      return 'tabler:brand-javascript';
    }
    case 'Kotlin': {
      return 'tabler:brand-kotlin';
    }
    case 'Python': {
      return 'tabler:brand-python';
    }
    default: {
      return 'tabler:code';
    }
  }
};

const projects = await Promise.all(
  config.projects.map(async project => {
    const response = await fetch(project.github.replace('github.com', 'api.github.com/repos'));

    if (!response.ok) {
      throw new Error(`Failed to fetch ${project.github} (${response.status})`);
    }

    const _json = await response.json();
    const repoInfo = GithubRepositoryDataSchema.parse(_json);

    return {
      ...project,
      name: repoInfo.name,
      description: repoInfo.description,
      language: repoInfo.language,
      icon: getIconByLanguage(repoInfo.language),
    };
  }),
);

// Meta data
const meta = {
  title: 'Projects',
  description: 'You can have a quick look of what projects I have been working on.',
};
---

<MainSEO includeSiteTitle title={meta.title} description={meta.description} />
<MainLayout>
  <div class="mt-5 flex w-full flex-col items-center text-left">
    <PageTitle
      title="Projects"
      description="You can have a quick look of what projects I have been working on."
    />
    <main class="mb-10 mt-3 w-full text-left" data-pagefind-body>
      <a href={config.social.github} target="_blank" rel="noreferrer" class="mb-3">
        <img
          loading="lazy"
          alt="GitHub Stats"
          src="https://ckt1031-github-readme-stats.vercel.app/api?username=ckt1031&show_icons=true&count_private=true&theme=dark"
        />
      </a>
      <div class="base-border my-4 border-b"></div>
      <div class="space-y-5">
        {
          projects.map(project => (
            <div class="base-border flex flex-col space-y-2 rounded-md border p-5 duration-150 hover:bg-gray-200 dark:hover:bg-gray-800">
              <div class="flex flex-row items-center space-x-2">
                <a
                  class="text-xl font-bold hover:underline"
                  href={project.github}
                  target="_blank"
                  rel="noreferrer"
                >
                  {project.name}
                </a>
              </div>
              <div class="flex flex-row gap-1">
                <Icon name={project.icon} size={22} />
                <span>{project.language}</span>
              </div>
              <p class="text-gray-600 dark:text-gray-400">{project.description}</p>
              <div class="flex flex-row flex-wrap gap-2">
                {project.tags.map(tag => (
                  <span class="base-border rounded-full border bg-gray-100 px-2 py-1 text-xs font-medium text-gray-600 dark:bg-gray-800 dark:text-gray-400">
                    {tag}
                  </span>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </main>
  </div>
</MainLayout>
